altair
asgiref
asttokens
attrs
beautifulsoup4
bleach
blinker
branca
cachetools
catboost
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cryptography-fernet
cycler
debugpy
decorator
defusedxml
distlib
Django
executing
fastjsonschema
filelock
Flask
folium
fonttools
gitdb
GitPython
graphviz
idna
imbalanced-learn
imblearn
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
lightgbm
MarkupSafe
matplotlib
matplotlib-inline
missingno
mistune
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
numpy
opencv-python
packaging
pandas
pandocfilters
parso
patsy
pillow
platformdirs
plotly
plotly-express
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pycparser
pydeck
pydot
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
six
sklearn-compat
smmap
soupsieve
sqlparse
stack-data
statsmodels
streamlit
streamlit-option-menu
tenacity
threadpoolctl
tinycss2
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
virtualenv
watchdog
wcwidth
webencodings
Werkzeug
xgboost
xyzservices
